<!-- <h2>Pages#homepage</h2>
<p>Find me in app/views/pages/homepage.html.erb</p> -->

<!-- 
  <div class=''>

  </div>
 -->
<br>
<h1>Prototype</h1>
    <div style="text-align:center;" class='petsoption'>
      <a href="/cats">
        <h2><i class="fa fa-heartbeat"></i><br>Pets</h2>
      </a><br>
    </div>
<br>
<h1><strong>Upcoming</strong></h1>
<h1>Options available to all users</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <div style="text-align:center;" class='medicalnotesoption' title="This feature is not included in the prototype.">
        <h2><i class="fa fa-book"></i><br>Medical Notes</h2>
      </div>
    </div>
    <div class="col">
      <div style="text-align:center;" class='medicationoption' title="This feature is not included in the prototype.">
        <h2><i class="fa fa-tag"></i><br>Medication</h2>
      </div>
    </div>
    <div class="col">
      <div style="text-align:center;" class='calendaroption' title="This feature is not included in the prototype.">
        <h2><i class="fa fa-calendar"></i><br>Calendar</h2>
      </div>
    </div>
    <div class="col">
      <div style="text-align:center;" class='billingoption' title="This feature is not included in the prototype.">
        <h2><i class="fa fa-dollar"></i><br>Billing</h2>
      </div>
    </div>
    <div class="col">
      <div style="text-align:center;" class='profileoption' title="This feature is not included in the prototype.">
        <h2><i class="fa fa-male"></i><br>Profile</h2>
      </div>
    </div>
  </div>
</div>
<br>
<h1>Veterinarian and Researcher Only Options</h1>
<div class="container">
  <div class="row">
      <div class="col">
        <div style="text-align:center;" class='clientsoption' title="This feature is not included in the prototype.">
          <h2><i class="fa fa-address-card"></i><br>Clients</h2>
        </div>
      </div>
      <div class="col">
        <div style="text-align:center;" class='organizationsoption' title="This feature is not included in the prototype.">
          <h2><i class="fa fa-address-book"></i><br>Organizations</h2>
        </div>
      </div>
      <div class="col">
        <div style="text-align:center;" class='imagesoption' title="This feature is not included in the prototype.">
          <h2><i class="fa fa-camera-retro"></i><br>Images</h2>
        </div>
      </div>
      <div class="col">
        <div style="text-align:center;" class='reportsoption'>
          <a href='/diseases/'><h2><i class="fa fa-book"></i><br>Diagnostics</h2></a>
        </div>
      </div>
  </div>
</div>

<br>
<h1>Customer Only Options</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <div style="text-align:center;" class='vetsoption' title="This feature is not included in the prototype.">
        <h2><i class="fa fa-stethoscope"></i><br>Veterinarian</h2>
      </div>
    </div>
    <div class="col">
      <div style="text-align:center;" class='telehealthoption' title="This feature is not included in the prototype.">
        <h2><i class="fa fa-ambulance"></i><br>Telehealth</h2>
      </div>
    </div>
  </div>
</div>

<br>
<h1>Pet Metrics Admin Only Options</h1>
      <div style="text-align:center;" class='vetsoption' title="This feature is not included in the prototype.">
        <h2><i class="fa fa-gear"></i><br>Settings</h2>
      </div>
