<h1>Editing Observation Biometrics</h1>

<%= link_to 'Show', @observationbiometric %> |
<%= link_to 'View all Observation Biometrics', observationbiometrics_path %> | <a href='/treatments/<%= @observationbiometric.treatment_id %>'>Back to treatment plan</a>

<%= render 'form' %>


